#grid-setup {
  margin: 0 auto;
  display: grid;
  grid-template-columns:  20% 60% 20%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  'hd hd hd'
  '. ral .'
  '. que .'
  '. arl .'
  '. article .';
}

.nested-grid{
  margin: 0 auto;
  display: grid;
  grid-template-columns:  2.5fr 4fr 4fr 2.5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  '. pop cost .'
  '. stops routes .';
  grid-row-gap: 40px;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #232F3E;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.map{
  margin-top: 20px;
  margin-bottom: 5px;
}

.source{
  font-size: 10px;
  font-style: italic;
}

.icons{
  height: 80px;
  padding-bottom: 10px;
}

.orange-white{
  margin: 0 auto;
  background-color: #FF8300;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  text-align: center;
  font-size: 12px;
  width: 200px;
}

.pop{
  grid-area: pop;

}

.cost{
  grid-area: cost;

}

.stops{
  grid-area: stops;

}

.routes{
  grid-area: routes;

}

h1{
  font-family: 'Abril Fatface', cursive;
}

body{
  font-family: 'Oxygen', sans-serif;
}

p{
  line-height: 1.7em;
}

.img-scores{
  justify-content: center !important;
}

.img-scores img{
  max-width: 30%;
  height: auto;
  flex-basis: 30%;
}

#ral-container{
  grid-area: ral;
}
#que-container{
  grid-area: que;
}
#arl-container{
  grid-area: arl;
}
#article-container{
  grid-area: article;
}
#Ral{
  height: 450px;
}
#Que{
  height: 450px;
}
#Arl{
  height: 450px;
}

#header{
  grid-area: hd;
  color: white;
  height: 250px;
  background-color: #FF8300;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-around;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
  color:
}

.latest-news{
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.text{
  flex-basis: 80%;
}

.headlines{
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
  margin-bottom: 0px;
}

.subheader{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}

.flex{
  display: flex;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-size: 25px;
  font-weight: bold;
}




@media screen and (max-width:870px){
  #grid-setup {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    'hd'
    'ral'
    'que'
    'arl'
    'article';
    margin: 0 auto;
  }

  .nested-grid{

    grid-gap: 10px;
  }

  .icons{
    height: 50px;
  }

  .orange-white{
    font-size: 15px;
  }

  #header{
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .headlines{
    font-size: 40px;
    margin: 0 auto;
  }
  .subheader{
    font-size: 25px;
    margin: 0 auto;
  }

  #amazon-smile{
    width: 250px;
  }

}
