#grid-setup {
  margin: 0 auto;
  display: grid;
  grid-template-columns:  20% 60% 20%;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  'hd hd hd'
  '. ral .'
  '. que .'
  '. arl .'
  '. article .';
}

h1{
  font-family: 'Abril Fatface', cursive;
}

body{
  font-family: 'Oxygen', sans-serif;
}

.img-scores{
  justify-content: center !important;
}

.img-scores img{
  max-width: 30%;
  height: auto;
  flex-basis: 30%;
}

#ral-container{
  grid-area: ral;
}
#que-container{
  grid-area: que;
}
#arl-container{
  grid-area: arl;
}
#article-container{
  grid-area: article;
}
#Ral{
  height: 450px;
}
#Que{
  height: 450px;
}
#Arl{
  height: 450px;
}

#header{
  grid-area: hd;
  color: white;
  height: 250px;
  background-color: #FF8300;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: row;
  justify-content: space-around;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

a{
  text-decoration: none;
  color: black;

}

.latest-news{
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

.thumbnail{
  flex-basis: 20%;
  max-width: 20%;
  height: auto;
  margin-right: 10px;
}

.text{
  flex-basis: 80%;
}

.headlines{
  font-family: 'Abril Fatface', cursive;
  font-size: 65px;
  margin-bottom: 0px;
}

.subheader{
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}

.flex{
  display: flex;
}
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-size: 25px;
  font-weight: bold;
}




@media screen and (max-width:870px){
  #grid-setup {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    'hd'
    'ral'
    'que'
    'arl'
    'article';
    margin: 0 auto;
  }

  #header{
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .headlines{
    font-size: 40px;
    margin: 0 auto;
  }
  .subheader{
    font-size: 25px;
    margin: 0 auto;
  }

  #amazon-smile{
    width: 250px;
  }

}
